<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5abf393-7e80-47d1-9315-089519734f04" Alias="Data" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Data</Path>
    <Trashed>false</Trashed>
    <ContentType>dataFolder</ContentType>
    <CreateDate>2025-09-17T11:59:05</CreateDate>
    <NodeName Default="Data" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>