<?xml version="1.0" encoding="utf-8"?>
<Content Key="a63556af-15fa-4221-9e2b-426431353840" Alias="Generic Contact" Level="2">
  <Info>
    <Parent Key="73b03bcf-3016-4543-8bab-269b78abe844">Home Page</Parent>
    <Path>/HomePage/GenericContact</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2025-09-17T11:46:17</CreateDate>
    <NodeName Default="Generic Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59917dcb-3045-4fd8-89be-de75fee24da4">formPage</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[5f9cc635-b220-4112-9ae3-f641f05a2deb]]></Value>
    </form>
    <subjectOverride>
      <Value><![CDATA[]]></Value>
    </subjectOverride>
    <templateOverride>
      <Value><![CDATA[]]></Value>
    </templateOverride>
  </Properties>
</Content>