<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ee365e0-209b-4f74-82f9-1756766decfc" Alias="Marketing Contact" Level="2">
  <Info>
    <Parent Key="73b03bcf-3016-4543-8bab-269b78abe844">Home Page</Parent>
    <Path>/HomePage/MarketingContact</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2025-09-17T11:45:51</CreateDate>
    <NodeName Default="Marketing Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59917dcb-3045-4fd8-89be-de75fee24da4">formPage</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[9fa36eab-cd51-4e65-b3e8-429fc836730a]]></Value>
    </form>
    <subjectOverride>
      <Value><![CDATA[Thank you for contacting the marketing team]]></Value>
    </subjectOverride>
    <templateOverride>
      <Value><![CDATA[]]></Value>
    </templateOverride>
  </Properties>
</Content>