<?xml version="1.0" encoding="utf-8"?>
<Content Key="99dd02ee-a62e-4e0e-b18e-fcdf2cdf52d7" Alias="Thank You Email" Level="3">
  <Info>
    <Parent Key="05ddfadd-de10-45c8-9065-e61205b9496a">Email Templates</Parent>
    <Path>/Data/EmailTemplates/ThankYouEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>emailTemplate</ContentType>
    <CreateDate>2025-09-17T11:59:30</CreateDate>
    <NodeName Default="Thank You Email" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <subject>
      <Value><![CDATA[Thank You for Contacting Us]]></Value>
    </subject>
    <template>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETesting the template field\u003C/p\u003E"
}]]></Value>
    </template>
  </Properties>
</Content>