<?xml version="1.0" encoding="utf-8"?>
<Content Key="d22bf71c-3859-44be-b59b-445b05cb1682" Alias="Vendor Contact" Level="2">
  <Info>
    <Parent Key="73b03bcf-3016-4543-8bab-269b78abe844">Home Page</Parent>
    <Path>/HomePage/VendorContact</Path>
    <Trashed>false</Trashed>
    <ContentType>formPage</ContentType>
    <CreateDate>2025-09-17T11:46:03</CreateDate>
    <NodeName Default="Vendor Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="59917dcb-3045-4fd8-89be-de75fee24da4">formPage</Template>
  </Info>
  <Properties>
    <form>
      <Value><![CDATA[9fa36eab-cd51-4e65-b3e8-429fc836730a]]></Value>
    </form>
    <subjectOverride>
      <Value><![CDATA[Thank you for contacting our Vendor support team]]></Value>
    </subjectOverride>
    <templateOverride>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDear [Customer.FirstName],\u003C/p\u003E\n\u003Cp\u003EThank you for contacting our vendor support team. We received your message:\u003C/p\u003E\n\u003Cp\u003E\u003Cem\u003E[Customer.Message]\u003C/em\u003E\u003C/p\u003E\n\u003Cp\u003EYou can expect to hear from a member of our team within the next 24 hours with a response to your inquiry.\u003C/p\u003E\n\u003Cp\u003ESincerely,\u003Cbr\u003E[Vendor.Employee.Name]\u003Cbr\u003E[Vendor.Employee.Position]\u003Cbr\u003E[Company.Phone]\u00A0 ext. [Vendor.Employee.Extension]\u003Cbr\u003E[Vendor.Employee.Email]\u003C/p\u003E\n\u003Cp\u003E[Company.Name]\u003Cbr\u003E[Company.Address]\u003C/p\u003E"
}]]></Value>
    </templateOverride>
  </Properties>
</Content>