@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TinyMCE Umbraco 16 Demo Website</title>

    <script src="/assets/prism.js"></script>
    <link href="/assets/prism.css" rel="stylesheet" />

    @RenderSection("Header", false)
</head>
<body>
    <main>
        @RenderBody()
    </main>

    @RenderSection("FooterScripts", false)
</body>
</html>