@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Layout.cshtml";
}

<h1>@Model.Name</h1>
@if (Model.Children().Any())
{
    <ul>
        @foreach (var childPage in Model.Children())
        {
            <li>
                <a href="@childPage.Url()">@childPage.Name</a>
            </li>
        }
    </ul>
}