@using TinyMceUmbraco16.Web.Forms.Models
@model TinyMceEmailModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email</title>
</head>
<body>
    @Html.Raw(Model.TemplateContent)
</body>
</html>
