<?xml version="1.0" encoding="utf-8"?>
<DataType Key="367d11a3-9c2f-4aa5-8579-a50e4a2a2185" Alias="Form Page - Form - Single Form Picker Property Editor" Level="1">
  <Info>
    <Name>Form Page - Form - Single Form Picker Property Editor</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>