<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfa3db2e-2de5-43fa-a39b-7d2a7afd24e0" Alias="Member - Description - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Member - Description - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>