<?xml version="1.0" encoding="utf-8"?>
<DataType Key="880777f5-6878-4c3f-b77a-4e2c0e6906ab" Alias="Rich Text Editor (TinyMce)" Level="1">
  <Info>
    <Name>Rich Text Editor (TinyMce)</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "plugins": [
    "anchor",
    "charmap",
    "table",
    "lists",
    "advlist",
    "autolink",
    "directionality",
    "help",
    "advtemplate",
    "mergetags"
  ],
  "stylesheets": [
    "/Colors.css"
  ],
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "help",
    "inserttemplate",
    "mergetags"
  ]
}]]></Config>
</DataType>