<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1864f6a0-6bd1-4bd2-ae56-c22134cbe75e" Alias="Company.Address" Level="2">
  <Info>
    <Parent>Company</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">517 SW 2nd St, #400
Corvallis, Oregon, 97333</Translation>
  </Translations>
</Dictionary>