<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="20a98e74-f729-4fd9-800d-3d7e0c8a0f98" Alias="Marketing.Employee.Position" Level="2">
  <Info>
    <Parent>Marketing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Chief Marketing Unicorn</Translation>
  </Translations>
</Dictionary>