<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="edb633b2-17c6-4525-a6ab-8d1936bdbf62" Alias="Marketing.Employee.Email" Level="2">
  <Info>
    <Parent>Marketing</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">jo.b@proworks.com</Translation>
  </Translations>
</Dictionary>