<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="60a52263-35d1-4b7b-a785-1bbeaea4b06a" Alias="Vendor.Employee.Email" Level="2">
  <Info>
    <Parent>Vendors</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">susan.h@proworks.com</Translation>
  </Translations>
</Dictionary>