<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0013516b-d1b7-4b1d-8706-09dcd9fbea7f" Alias="Vendor.Employee.Position" Level="1">
  <Info>
    <Parent>Email Fields</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Vendor Support Wizard</Translation>
  </Translations>
</Dictionary>