<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f074d6e-dadc-4195-9efa-aaa530807e1b" Alias="me.png" Level="3">
  <Info>
    <Parent Key="2842dbe7-938e-4b04-b4df-2fa0b8215e30">Member Profile Pics</Parent>
    <Path>/Images/MemberProfilePics/mepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-11T11:01:31</CreateDate>
    <NodeName Default="me.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.4957957285227793,
    "top": 0.30294703389262106
  },
  "crops": [],
  "src": "/media/2gdfdcnv/me.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>