<?xml version="1.0" encoding="utf-8"?>
<Media Key="2842dbe7-938e-4b04-b4df-2fa0b8215e30" Alias="Member Profile Pics" Level="2">
  <Info>
    <Parent Key="dd7e0f9b-3f0c-4d74-8c7d-2fab3cbbe317">Images</Parent>
    <Path>/Images/MemberProfilePics</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-11T11:00:54</CreateDate>
    <NodeName Default="Member Profile Pics" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>