<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad042729-f6d7-4bd6-b9b6-ee9a57c69534" Alias="dataFolder" Level="1">
  <Info>
    <Name>Data Folder</Name>
    <Icon>icon-folder color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Holds data and other templates for the site</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="39c2798e-270f-4113-a4ff-39769d50e618" SortOrder="0">templatesFolders</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>