<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a76e1542-ae44-4a2a-baea-572de45a08e7" Alias="formPage" Level="1">
  <Info>
    <Name>Form Page</Name>
    <Icon>icon-document-spreadsheet color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>formPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="59917dcb-3045-4fd8-89be-de75fee24da4">formPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b03a4b72-6ee4-45d1-91f3-6b46722b04fa</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>367d11a3-9c2f-4aa5-8579-a50e4a2a2185</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="formSettings">Form Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0db9fce-db92-48f6-b704-358d82298e91</Key>
      <Name>Subject Override</Name>
      <Alias>subjectOverride</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will fall back to the subject on the email template selected for the workflow of this form.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="emailSubmissionSettings">Email Submission Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f55fe8c3-df60-4e15-8ca8-f5e7d0fb532e</Key>
      <Name>Template Override</Name>
      <Alias>templateOverride</Alias>
      <Definition>880777f5-6878-4c3f-b77a-4e2c0e6906ab</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Will fall back to the template selected for the workflow of this form.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="emailSubmissionSettings">Email Submission Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d688d6c3-59e6-4337-a1b7-e90517555dfe</Key>
      <Caption>Form Settings</Caption>
      <Alias>formSettings</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e0cc2794-3906-4de7-8b4f-3ee34cbf7a23</Key>
      <Caption>Email Submission Settings</Caption>
      <Alias>emailSubmissionSettings</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>