<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2dc64c9-ca02-4fa6-a43f-297d2df015a4" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3a0c4313-8c81-40ab-9786-7d7596723fb4">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a76e1542-ae44-4a2a-baea-572de45a08e7" SortOrder="0">formPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5952ca3c-12f9-4bde-843d-bdd9b00abcbf</Key>
      <Name>Rich Text Content</Name>
      <Alias>richTextContent</Alias>
      <Definition>880777f5-6878-4c3f-b77a-4e2c0e6906ab</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>true</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1dcbd6f2-4444-48ea-b056-769bfaa6495d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>